%h1
  Transactions for
  = current_user.email
  
%table.widel-ledger
  %tr
    %th Description
    %th Other Party
    %th Time
    %th Amount
  -@transactions.each do |tx|
    %tr.widel-entry
      %td
        =link_to tx.memo.blank? ? "Payment #{tx.id}" : tx.memo, transact_path(tx),:class=>"widel-entry-id widel-memo"
      %td
        =widel_account tx.counterparty_for(current_user)
      %td.widel-timestamp{:title=>tx.created_at.rfc822}
        =tx.created_at.to_formatted_s(:long)
      %td.widel-amount
        =number_to_currency(tx.payer==current_user ? -tx.amount : tx.amount, :unit=>'')
  %tfooter
    %tr.summary
      %td{:colspan=>2}
        Other formats
        =link_to "CSV",transacts_path(:format=>:csv)
        =link_to "XML",transacts_path(:format=>:xml)
        =link_to "JSON",transacts_path(:format=>:json)
        =link_to "Atom",transacts_path(:format=>:atom)
      %td Balance
      %td.balance= number_to_currency(current_user.balance)