%h1 Pay Someone

-form_for @transact do |f|
  %fieldset
    .field
      %label{:for=>"to"} Payee email address
      %input{:name=>"to",:value=>@transact.to}
    .field
      %label{:for=>"amount"}
        Amount
        ="(available #{number_to_currency(current_user.balance)})"
      %input{:name=>"amount",:value=>@transact.amount}
    .field
      %label{:for=>"memo"} Description
      %input{:name=>"memo",:value=>@transact.memo,:size=>60}

  =submit_tag "Pay"
  