<div id="logo"><a href="/"><span class="bling">N</span><span class="blong">u</span><span class="bling">B</span><span class="blong">u</span><span class="blang">x</span><span class="not_equal">!=$</span></a></div>
