%h1 NuBux
%p 
  This is a sample electronic currency based on 
  =link_to "OpenTransact","http://github.com/opentransact/opentransact/tree/master"
%p
  Current Circulation:
  =number_to_currency Transact.circulation